* {
    margin: 0;
    padding: 0;
}

body {
    background: #99c7e156;
    font-family: 'Roboto Slab', serif;
}

.container {
    text-align: center;
    width: 300px;
    margin: 0px auto;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
}

.titulo img {
    width: 100%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 3.7px;
    border: #3E515C solid 4px;
}

ul {
    list-style: none;
    margin: 48px 0px;
}

h1 {
    margin-top: 24px;
    margin-bottom: 8px;
    display: block;
}

ul li a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #23475c41;
    border-radius: 10px;

}

li a {

    font-family: 'Roboto Mono', monospace;

}

.rodapé {
    text-align: center;
    background-color: rgba(42, 51, 51, 0.205);
}